:host {
    .register-container {
        width: calc(100% - 40px);
        max-width: 700px;
        padding: 30px 0;
        margin: 0 auto;

        mat-card {
            background: #f7f7f7;

            mat-card-content {
                text-align: center;
                padding: 20px 40px 20px 20px;

                .logo {
                    width: 100%;
                    margin: auto;
                    max-width: 225px;
                }

                .logo-title {
                    color: #7a7a7a;
                    margin: 0 0 10px 0;
                    font-size: 18px;
                    font-weight: 400;
                    font-style: italic;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    mat-form-field {
                        margin-bottom: 10px;
                    }

                    .address {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                    }

                    .terms {
                        margin: 0 0 20px 0;
                        text-align: left;

                        .link {
                            text-decoration: underline;
                            cursor: pointer;
                            color: var(caballus-color-primary);
                        }
                    }

                    .two-fields {
                        display: flex;
                        justify-content: space-between;

                        mat-form-field {
                            width: calc(50% - 5px);
                        }
                    }

                    .three-fields {
                        display: flex;
                        justify-content: space-between;

                        mat-form-field {
                            width: calc((100% / 3) - (20px / 3));
                        }
                    }

                    .buttons {
                        button {
                            width: calc(50% - 10px);
                        }
                    }
                }
            }
        }
    }

    .loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.12);
    }
}
