@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=01ED4125-28DE-4F0C-B3C9-D66F444299CE

@rfx:registry=https://rfx.riafox.com/
//rfx.riafox.com/:_authToken="+igCVMd0xVhn9p8oNW28IkayCw2Iwl9vcOEHviskuXg="
