/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Gotham Medium';
    src: url(assets/font/GothamMedium.ttf);
}

@font-face {
    font-family: 'Gotham Book';
    src: url(assets/font/GothamBook.ttf);
}

* {
    font-family: 'Gotham Book', 'Gotham', sans-serif;
}

h1, h2, h3, h4, h5, h6, .ion-header {
    font-family: 'Gotham Medium', 'Gotham', sans-serif;
}
