<div class="forgot-container">
    <mat-card>
        <mat-card-content>
            <img class="logo" src="/assets/logo.svg" />
            <h4 class="logo-title">Starter Project</h4>
            <form [formGroup]="form" (ngSubmit)="forgotPassword(form)">
                <p>
                    Enter the email address associated with your account. You will receive an email
                    with instructions to reset your password.
                </p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="email" formControlName="email" />
                    <mat-error [rfxError]="form.get('email')"></mat-error>
                </mat-form-field>
                <div class="buttons">
                    <button mat-flat-button color="primary" type="submit">Submit</button>
                    <button mat-stroked-button color="link" routerLink="/auth/login">Cancel</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
